<ion-header>
    <ion-toolbar color="danger">

        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" (click)="BacktoHome()"></ion-icon>

        <ion-title>Inspection </ion-title>
    </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content>

    <h5 style="text-align: center;">Need help....please describe here....</h5>
    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <ion-label>fix</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>repair</ion-label>
                <ion-radio slot="start" value="biff" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>install</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>faulty</ion-label>
                <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-item>
        <ion-label position="floating">Please write anything else that you would to add to request with the Installation service</ion-label>
        <ion-textarea clearOnEdit="true" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>
    <br>
    <br>
    <!-- <ion-button slot="end">Submit</ion-button> -->
    <ion-button id="btn" expand="block" fill="outline" (click)="run()">Submit</ion-button>
</ion-content>