<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
    <ion-title>Home Wiring</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span text-wrap> <b>Please describe the nature of the house for home wiring :</b></span>
<form >

  
  <ion-item lines="none">
    <ion-label position="floating">number of rooms to install</ion-label>
    
    <ion-select value="1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">number of plugs per room </ion-label>
    
    <ion-select value="1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">number of light bulb per room </ion-label>
    
    <ion-select value="1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">number of  bathrooms in the house</ion-label>
    
    <ion-select value="1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
     
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">number of louge rooms  in the house</ion-label>
    <ion-select value="1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
     
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">number of kitchen rooms  in the house</ion-label>
    <ion-select value="1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">number of geysers in the house</ion-label>
    
    <ion-select value="1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
     
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Please  write anything else that you would to add to request with the Installation service</ion-label>
  <ion-textarea clearOnEdit="true" placeholder="Enter any notes here..."></ion-textarea>
  </ion-item>
  <ion-button (click)="run()" slot="end">Submit</ion-button>
</form>

</ion-content>
