    .main {
        display: grid;
        grid-template-rows: 10% 90%;
        height: 100%;
        // background: url(/assets/images.jpg) 0 0/100% 100% no-repeat;
        // .top {
        //     overflow: hidden;
        //     width: 100%;
        //     box-shadow: 1px;
        //     background-color: #940a0a;
        //     h2 {
        //         text-align: center;
        //         color: white;
        //     }
    }
    
    // .middle {
    //     padding: 5px;
    //     padding-right: 15px;
    //     color: white;
    //     //     #btn {
    //     //         background-color: #382323;
    //     //         color: white;
    //     //     }
    //     //     .error {
    //     //         color: #940a0a;
    //     //     }
    //     //     .group {
    //     //         color: white;
    //     //     }
    //     //     .card {
    //     //         background-color: rgba(80, 5, 5, 0.562);
    //     //     }
    //     //     .card1 {
    //     //         background-color: rgba(10, 4, 4, 0.774);
    //     //     }
    //     //     .card2 {
    //     //         background-color: rgba(224, 215, 215, 0.562);
    //     //     }
    // }