body { margin:0; padding:0; }
#map { position:absolute; top:40px; bottom:0; width:57%;height: 30%;right: 10px; }
.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
    }