.main {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
    // background: url(/assets/images.jpg) 0 0/100% 100% no-repeat;
    // .top {
    //     width: 100%;
    //     box-shadow: 1px;
    //     background-color: #940a0a;
    //     h2 {
    //         text-align: center;
    //         color: white;
    //     }
    //}
    .middle {
        padding-left: 10px;
        padding-right: 15px;
        color: black;
        // .avatar {
        //     position: relative;
        //     left: 50px;
        //     right: 50px;
        //     width: 50%;
        //     height: 25%;
        // }
        .image {
            // align-items: center;
            left: 15%;
            position: absolute;
            // margin-left: auto;
            // margin-right: auto;
        }
        #btn {
            background-color: #940a0a;
            color: white;
        }
        .error {
            color: #940a0a;
        }
        .group {
            color: black;
        }
        p {
            text-align: center;
        }
    }
}