<ion-content>
    <div>

        <ion-card class="header">
            <ion-icon name="arrow-round-back"  (click)="back()" style="background-color: white;zoom: 1.5;"></ion-icon>
            <!-- <img src="assets\logo.PNG" /> -->
            <h2>index</h2>

        </ion-card>
    </div>

    <ion-card>

        <ion-card-content>
            <form class="form-inline">

                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="text" clearInput></ion-input>
                </ion-item>


                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="text" clearInput></ion-input>
                </ion-item>




            </form>
        </ion-card-content>
    </ion-card>





    <ion-button expand="block" fill="outline" (click)=" signIn()">Sign In</ion-button>
    <ion-button expand="block" fill="outline" (click)=" signUp()">Sign Up</ion-button>
</ion-content>