.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 90%;
    align-items: center;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
ion-content {
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    // --background: rgb(212, 100, 100);
    div {
        top: 0;
        margin: 0px;
        padding: 0px;
        .header {
            top: 0px;
            margin: 0px;
            width: 100%;
            height: 100px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            box-shadow: 1px;
            background: white;
        }
    }
}

h2 {
    text-align: center;
    color: black;
}
