@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.main {
    display: grid;
    grid-template-rows: 20% 60% auto;
    height: 100%;
    // overflow-y: hidden;
    // position: relative;
    // z-index: 1;
    // overflow: hidden;
    .top {
        .header {
            background: url(/assets/images.jpg) 0 0/100% 100% no-repeat;
            top: 0px;
            margin: 0px;
            width: 100%;
            height: auto;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            box-shadow: none;
            position: relative;
            z-index: 1;
        }
        .header::before {
            content: "";
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            backdrop-filter: flur(10px);
            z-index: -1;
        }
    }
    .middle {
        overflow-y: hidden;
        position: relative;
        z-index: 1;
        overflow: hidden;
        .slide1 {
            width: 100%;
            height: 280px;
            background: url("/assets/electric.png") no-repeat center center / cover;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            color: black;
            font-family: 'Quicksand', sans-serif;
            position: relative;
            z-index: 1;
            background: rgba(255, 255, 255, 0.6);
            overflow: hidden;
        }
        .cat {
            width: 100%;
            color: black;
            font-family: 'Quicksand', sans-serif;
            h4 {
                margin-left: 0px;
            }
        }
        .feedback {
            width: 100%;
            background: rgb(201, 36, 36);
            color: white;
        }
        .slide {
            position: relative;
            height: 100%;
        }
    }
    // .bottom {}
}

.footer {
    margin-bottom: 0px;
    margin-left: 20px;
    span {
        font-family: 'Quicksand', sans-serif;
        color: black;
    }
}