<ion-content>
    <div class="main">
        <div class="top">
            <ion-card class="header">
                <ion-card-header>
                    <ion-card-title style="text-align: center;">
                        <nav style="border-bottom: 1px solid white;">
                            <label style="color: white;font-size: 15px;">
                        SCC(PTY)LTD
                    </label>
                        </nav>
                    </ion-card-title>
                </ion-card-header>

                <ion-card-content style="text-align: center;margin-top: 10px;">
                    <p>
                        <ion-icon name="mail" style="color: white;width: 20px;height: 20px;margin-left: 10px;margin-right: 10px;"></ion-icon>
                        <ion-icon name="call" style="color: white;width: 20px;height: 20px;margin-left: 10px;margin-right: 10px;"></ion-icon>
                        <ion-icon name="logo-whatsapp" style="color: white;width: 20px;height: 20px;margin-left: 10px;margin-right: 10px;"></ion-icon>
                    </p>
                </ion-card-content>
            </ion-card>
        </div>
        <div class="middle">
            <div class="cat">
                <h4>Categories</h4>
            </div>
            <div *ngFor="let cat of items" class="category-block">
                <ion-row no-padding class="category-banner">
                    <ion-col no-padding button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
                    </ion-col>
                </ion-row>
                <ion-slides [options]="sliderConfig">

                    <ion-slide *ngFor="let service_type of ServiceType">
                        <ion-card class="slide1">
                            <div>
                                <img src="/assets/Instalation 1.png" style="width: 100%;height: 220px;background-color: rgba(0,0,0,0.2);" (click)="installPage()" *ngIf="service_type == 'New Installation'" />
                                <img src="/assets/Repair 1.png" style="width: 100%;height: 220px;background-color: rgba(0,0,0,0.2);" (click)="nextPage()" *ngIf="service_type == 'Repair'" />
                                <img src="/assets/Inspection 1.png" style="width: 100%;height: 210px;background-color: rgba(0,0,0,0.2);" (click)="inspectPage()" *ngIf="service_type == 'Inspection'" />
                            </div>
                            <h3 style="font-size: 18px;float: left;margin-left: 5px;">{{service_type}}</h3>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>

        </div>
        <div class="bottom">
            <div class="footer">
                <span class="ion-text-center">Contact Us</span>
                <div class="icons" style="text-align: center; margin-top: 15px;">
                    <ion-icon name="logo-facebook" style="color: black;width: 27px;height: 27px;margin-left: 10px;margin-right: 10px;"></ion-icon>
                    <ion-icon name="logo-instagram" style="color: black;width: 27px;height: 27px;margin-left: 10px;margin-right: 10px;"></ion-icon>
                    <ion-icon name="logo-twitter" style="color: black;width: 27px;height: 27px;margin-left: 10px;margin-right: 10px;"></ion-icon>

                </div>
            </div>
        </div>
    </div>

    <br>



    <!-- <div class="ion-padding">

        <ion-item *ngFor="let x of array" (click)="clicked(x)">

            {{x.name}} {{x.price}} {{x.type}}
            {{x.electrical}} {{x.engineering}} -- {{x.key}}
            <br> {{x.khokho}}
        </ion-item>
    </div>
 -->

    <!-- <div class="feedback"> -->

    <!-- </div> -->

    <!-- <br>


        <div class="footer">
            <span class="ion-text-center">Contact Us</span>
            <div class="icons" style="text-align: center; margin-top: 15px;">
                <ion-icon name="logo-facebook" style="color: black;width: 27px;height: 27px;margin-left: 10px;margin-right: 10px;"></ion-icon>
                <ion-icon name="logo-instagram" style="color: black;width: 27px;height: 27px;margin-left: 10px;margin-right: 10px;"></ion-icon>
                <ion-icon name="logo-twitter" style="color: black;width: 27px;height: 27px;margin-left: 10px;margin-right: 10px;"></ion-icon>

            </div>
        </div> -->
</ion-content>