ion-content {
    overflow-y: hidden;
    // --background: rgb(212, 100, 100);
    div {
        top: 0;
        margin: 0px;
        padding: 0px;
        .header {
            //background: url('/assets/logo.PNG') no-repeat center center fixed;
            // height: 100%;
            // background-image: linear-gradient(197deg, rgba(184, 19, 19, 0.712)0%, rgb(29, 1, 1) 100%) !important;
            top: 0px;
            margin: 0px;
            width: 100%;
            height: 250px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            box-shadow: 1px;
        }
    }
}

.slide1 {
    // margin: 0px;
    // width: 90%;
    height: 350px;
    align-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(197deg, rgba(184, 19, 19, 0.712)0%, rgba(29, 1, 1, 0.712) 100%) !important;
    color: white;
}

.cat {
    width: 100%;
    background: rgb(201, 36, 36);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.feedback {
    width: 100%;
    background: rgb(201, 36, 36);
    color: white;
}

.slide {
    position: relative;
    height: 100%;
}